.App {
  text-align: center;
  border-color: red;
  border-width: 2;
}

.Sub-Container {
  padding-left: 70px;
  padding-right: 70px;
}
.Sub-Container1 {
  background-color: rgb(240, 182, 182);
}
.Sub-Container2 {
  background-color: rgb(168, 168, 245);
}

.App-logo {
  width: 180;
  height: 20;
  pointer-events: none;
}

.ValuesCardContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  
}
.ValuesCardContainerReverse {
  flex-direction: row-reverse;
}

.ValuesCardDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
}
.ValuesCardDescriptionContainerReverse {
  
  align-items: end;
}

.ValueCardTitle {
  font-weight: bold;
}

.ValuesCardImage {
  width: 230px;
  border-radius: 50px;
}
.ValuesCardImage:hover {
  width: 260px;
}

.bodyTitle {
  font-size: calc(30px + 2vmin);
  font-weight: bolder;
  color: rgb(8, 77, 8);

}

.bodytext {
  width: 120;
  
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .5px;
  margin-bottom: 10px;
}

.bodylist {
  text-align: left;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
