.App {
  text-align: center;
  border-color: red;
  border-width: 2;
}

.Sub-Container {
  padding: 20px 70px 55px 70px;
  margin: 0px 0px -45px 0px
}
.Sub-Container1 {
  background-color: rgb(253, 202, 107);
  height: auto;
  padding-bottom: 60px;
}
.Sub-Container2 {
  background-color: rgb(236, 161, 138);
  height: auto;
  padding-bottom: 100px;
}
.Sub-Container3 {
  background-color: rgb(186, 223, 102);
  height: auto;
}

.App-logo {
  width: 100%;
  height: 600px;
  pointer-events: none;
}

.ValuesCardContainer {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  
}
.ValuesCardContainerReverse {
  flex-direction: row-reverse;
}

.ValuesCardDescriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 70%;
}
.ValuesCardDescriptionContainerReverse {
  
  align-items: end;
}

.ValueCardTitle {
  font-weight: bold;
}

.ValuesCardImage {
  width: 230px;
  border-radius: 50px;
}
.ValuesCardImage:hover {
  width: 260px;
}

.bodyTitle {
  font-size: calc(30px + 2vmin);
  font-weight: bolder;

}

.bodyTitle1{
  color: rgb(240, 155, 76);
}

.bodyTitle2{
  color: rgba(206, 80, 41, 0.774);
}

.bodyTitle3{
  color: rgb(35, 136, 35);
}

.bodytext {
  width: 120;
  
  line-height: 28px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: .5px;
  margin-bottom: 10px;
}

.bodylist {
  text-align: left;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0px 0px -45px 0px
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Our-Story-Container { 
  display: flex;
  flex-direction: row;
}
.FounderImageContainer {
  display: flex;
  flex-direction: column;
}
.FounderImage {
  width: 70%;
  padding: 15px;
}
.FounderImage:hover {
  width: 75%;
  
}


ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}